<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="cppMD01Frame">
		<title>Brooks Computing Systems, LLC  ** Programmer&apos;s Workbench **</title>
		<centered>1</centered>
		<bg>wxSYS_COLOUR_MENUHILIGHT</bg>
		<style>wxDEFAULT_FRAME_STYLE|wxSYSTEM_MENU|wxRESIZE_BORDER|wxMAXIMIZE_BOX|wxMINIMIZE_BOX|wxFULL_REPAINT_ON_RESIZE</style>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer3" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer4" member="no">
									<orient>wxVERTICAL</orient>
									<object class="sizeritem">
										<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
											<bg>#23E1F2</bg>
											<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
												<label>Label</label>
												<pos>8,0</pos>
											</object>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer5" member="no">
									<orient>wxVERTICAL</orient>
									<object class="sizeritem">
										<object class="wxPanel" name="ID_PANEL3" variable="Panel2" member="yes">
											<bg>#B8DCFF</bg>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
											<label>Label</label>
											<bg>#08DFF3</bg>
											<style>wxALIGN_CENTRE</style>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenucpp" variable="menSelectCpp" member="yes">
					<label>Select c++ file to compile</label>
					<help>Compile c++</help>
					<handler function="OnmenSelectCppSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-300</widths>
			<styles>wxSB_NORMAL</styles>
			<style>wxFULL_REPAINT_ON_RESIZE</style>
		</object>
		<object class="wxMenu" variable="pumMaster" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem3" member="yes">
				<label>Change Background Color</label>
				<help>Change Background Color</help>
				<handler function="OnChooseColor" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idpumNewCat" variable="pumNewCat" member="yes">
				<label>Enter New Category</label>
				<help>Enter New Category</help>
				<handler function="OnpumNewCatSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_PumEdCat" variable="MenuItem5" member="yes">
				<label>Edit Category</label>
				<help>Edit This Category</help>
				<handler function="OnpumEdCatSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_NewBlog" variable="pumNewBlogPost" member="yes">
				<label>Create New Blog Post</label>
				<help>Create A New Blog Post</help>
				<handler function="OnpumNewBlogPostSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_CodeLauncher" variable="pumCodeXqt" member="yes">
				<label>VS Code</label>
				<accel>Load VS Code Now</accel>
				<handler function="OnpumCodeXqtSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_ChFont" variable="pumChFont" member="yes">
				<label>Change Font</label>
				<help>Change Font Now</help>
				<handler function="OnpumChFontSelected" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxMenu" variable="pumDetail" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem4" member="yes">
				<label>Change Background Color</label>
				<help>Change Background Color</help>
				<handler function="OnChooseColor" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_CF" variable="pumChgFonts" member="yes">
				<label>Change Fonts</label>
				<help>Change Fonts</help>
				<handler function="OnpumChFontSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_menAD" variable="pumAddDocs" member="yes">
				<label>addDocs</label>
				<help>Add  New Documents / Items</help>
				<handler function="OnpumAddDocsSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_menNB" variable="menNewPost" member="yes">
				<label>Create New Blog Post</label>
				<help>New Blog Post Now!</help>
				<handler function="OnpumNewBlogPostSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_pumDel" variable="pumDelLink" member="yes">
				<label>Delete Link</label>
				<help>Delete A Item</help>
				<handler function="OnpumDelLinkSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_pumEditLink" variable="pumEditDetails" member="yes">
				<label>Edit Link Details</label>
				<help>Edit Link Details</help>
				<handler function="OnpumEditLinkSelected" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxColourDialog" variable="ColourDialog1" member="yes" />
		<object class="wxFontDialog" variable="FontDialog1" member="yes" />
	</object>
</wxsmith>
